section.cta {
  padding: var(--py-theme) 0;
  text-align: center;
  h2 {
    font-weight: 600;
    font-size: var(--font-size-64);
  }
  .input-container {
    border: 0.063rem solid var(--border-color);
    border-radius: 10rem;
    height: 5.375rem;
    display: flex;
    justify-content: space-between;
    padding: 0.875rem;
    gap: 1.063rem;
    .icon-container {
      aspect-ratio: 1 / 1;
      background: var(--theme-color-light);
      border-radius: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: var(--theme-color);
      }
    }
    input {
      background: transparent;
      border: transparent;
      flex: 1;
      &::placeholder {
        color: var(--dark-text-color);
        font-size: var(--font-size-20);
      }
      &:focus-visible {
        outline: none;
      }
    }
    button {
      font-size: var(--font-size-20);
      border: none;
      background: var(--theme-color);
      color: var(--white-color);
      padding: 1.25rem 2.5rem;
      display: flex;
      align-items: center;
      border-radius: 10rem;
    }
  }
}
