// Lufga Font Family Declarations

// Lufga Thin
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

// Lufga Extra Light
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

// Lufga Light
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

// Lufga Regular
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

// Lufga Medium
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

// Lufga Semi Bold
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaSemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

// Lufga Bold
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

// Lufga Extra Bold
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

// Lufga Black
@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('../Fonts/LufgaBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
