:root {
  --font-family: "Lufga";
  // ------------Colors -------------------

  --theme-color: #fd853a;
  --theme-color-light: #ffead5;
  --heading-color: #344054;
  --dark-text-color: #000000;
  --text-color: #344054;
  --white-heading-color: #fffaf5;
  --light-gray-color: #f2f4f7;
  --border-color: #e4e7ec;
  --dark-bg-color: #272727;
  --white-color: #ffffff;
}
