section.hero {
  padding-top: 10.188rem;
  height: 100vh;
  min-height: 55rem;
  position: relative;

  .image-art {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60%;
    img {
      position: relative;
      z-index: 2;
      width: 100%;
    }
    &:after {
      content: "";
      width: 86%;
      display: block;
      aspect-ratio: 1 / 1;
      background: var(--theme-mid-light);
      border-radius: 100%;
      position: absolute;
      left: 50%;
      bottom: -65%;
      transform: translateX(-50%);
    }
  }
  .sub-title {
    margin-top: 2.5rem;
    border-radius: 10rem;
    border: 0.079rem solid var(--dark-bg-alt);
    padding: 0.797rem 1.593rem;
    h3 {
      font-size: var(--font-size-20);
      margin: 0;
      font-weight: 500;
      color: var(--dark-bg-alt);
    }
  }
  .title {
    margin-top: 2.5rem;
    position: relative;
    transform: translateY(0) scale(1);
    transition: 0.3s;
    h1 {
      font-size: var(--font-size-64);
      .small {
        font-size: var(--font-size-44);
      }
    }
    svg {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4.375rem;
      transform: translate(-89%, 41%);
      height: auto;
    }
  }
  p.left-intro {
    font-size: var(--font-size-20);
    font-weight: 500;
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    svg {
      width: 2.25rem;
      height: auto;
    }
  }
  h5.right-intro {
    text-align: right;
    font-size: var(--font-size-20);
    color: var(--dark-bg-alt);
    font-weight: 400;
    .exp-years {
      font-size: var(--font-size-48);
      font-weight: 700;
      color: var(--dark-bg-alt);
    }
  }
  .rating {
    display: flex;
    justify-content: end;
    gap: 0.4rem;
    margin-bottom: 1rem;
    svg {
      fill: var(--theme-color);
      width: 1.8rem;
      height: auto;
    }
  }
  .exp-rate,
  p.left-intro {
    transform: translateY(7rem);
    transition: 0.3s;
  }
  &.active {
    .title {
      transform: translateY(27rem) scale(0.4);
    }
    .exp-rate,
    p.left-intro {
      transform: translateY(-5rem);
    }
  }
  .other-actions-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -1rem);
    z-index: 11;
    .actions {
      background: #ffffff1a;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem;
      gap: 0.3rem;
      border-radius: 6rem;
      border: 2px solid #ffffff5e;
      backdrop-filter: blur(15px);
      a {
        color: var(--white-color);
        padding: 0.8rem 1.2rem 0.5rem;
        border-radius: 9rem;
        text-decoration: none;
        outline: none;
        font-size: 1.5rem;
        line-height: normal;

        &.case_study {
          background: var(--theme-color);
          svg {
            width: 2rem;
            height: auto;
            transition: 0.3s;
            transform: translateY(-15%);
          }
        }
        &.download_cv {
          svg {
            width: 0rem;
            height: auto;
            transition: 0.3s;
            transform: translateY(-15%);
          }
        }
      }
      &.active{
        a{
          &.case_study {
            background: transparent;
            svg{
              width: 0;
            }
          }
          &.download_cv {
            background: var(--theme-color);
            svg{
              width: 2rem;
            }
          }
        }
      }
    }
    h6 {
      color: var(--white-color);
      margin-top: 1rem;
    }
  }
}

.image-art {
  .svg-animation {
    img {
      position: absolute !important;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
      z-index: 1 !important;
      &:nth-child(1) {
        width: 8% !important;
        top: 50%;
      }
      &:nth-child(2) {
        width: 16% !important;
        top: 93%;
        left: 30%;
      }
      &:nth-child(3) {
        width: 4% !important;
        top: 100%;
        left: 68%;
      }
      &:nth-child(4) {
        width: 3% !important;
        top: 88%;
        left: 69%;
      }
      &:nth-child(5) {
        width: 2.5% !important;
        top: 85%;
        left: 34%;
      }
      &:nth-child(6) {
        width: 8.5% !important;
        top: 85%;
        left: 63%;
      }
      &:nth-child(7) {
        width: 14.5% !important;
        top: 100%;
        left: 38%;
      }
      &:nth-child(8) {
        width: 3.5% !important;
        top: 74%;
        left: 39%;
      }
      &:nth-child(9) {
        width: 3.5% !important;
        top: 87%;
        left: 29%;
      }
      &:nth-child(10) {
        width: 3.5% !important;
        top: 87%;
        left: 67%;
      }
      &:nth-child(11) {
        width: 10.5% !important;
        top: 100%;
        left: 71%;
      }
      &:nth-child(12) {
        width: 7.5% !important;
        top: 75%;
        left: 38%;
      }
      &:nth-child(13) {
        width: 12% !important;
        top: 80%;
        left: 70%;
      }
      &:nth-child(14) {
        width: 8% !important;
        top: 90%;
        left: 36%;
      }
      &:nth-child(15) {
        width: 23% !important;
        top: 89%;
        left: 55%;
      }
      &:nth-child(16) {
        width: 32% !important;
        top: 80%;
        left: 39%;
      }
      &:nth-child(17) {
        width: 12% !important;
        top: 80%;
        left: 32%;
      }
      &:nth-child(18) {
        width: 18% !important;
        top: 76%;
        left: 58%;
      }
      &:nth-child(19) {
        width: 18% !important;
        top: 61%;
        left: 52%;
      }
      &:nth-child(20) {
        width: 18% !important;
        top: 60%;
        left: 50%;
      }
    }
  }
  &:hover {
    .svg-animation {
      img {
        position: absolute !important;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1 !important;
        &:nth-child(1) {
          top: -4%;
        }
        &:nth-child(2) {
          top: 70%;
          left: 7%;
        }
        &:nth-child(3) {
          top: 88%;
          left: 88%;
        }
        &:nth-child(4) {
          top: 71%;
          left: 83%;
        }
        &:nth-child(5) {
          top: 61%;
          left: 13%;
        }
        &:nth-child(6) {
          top: 61%;
          left: 92%;
        }
        &:nth-child(7) {
          top: 94%;
          left: 5%;
        }
        &:nth-child(8) {
          top: 40%;
          left: 19%;
        }
        &:nth-child(9) {
          top: 85%;
          left: 9%;
        }
        &:nth-child(10) {
          top: 67%;
          left: 87%;
        }
        &:nth-child(11) {
          top: 78%;
          left: 88%;
        }
        &:nth-child(12) {
          top: 45%;
          left: 34%;
        }
        &:nth-child(13) {
          top: 53%;
          left: 80%;
        }
        &:nth-child(14) {
          top: 90%;
          left: 16%;
        }
        &:nth-child(15) {
          top: 89%;
          left: 95%;
        }
        &:nth-child(16) {
          top: 72%;
          left: 9%;
        }
        &:nth-child(17) {
          top: 51%;
          left: 22%;
        }
        &:nth-child(18) {
          top: 43%;
          left: 71%;
        }
        &:nth-child(19) {
          top: 18%;
          left: 36%;
        }
        &:nth-child(20) {
          top: 13%;
          left: 67%;
        }
      }
    }
  }
}
