header {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding-top: 2.5rem;
  nav {
    background: var(--dark-bg-alt);
    border-radius: 10rem;
    padding: 0.625rem;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      li {
        list-style: none;
        a {
          font-size: 1.25rem;
          text-decoration: none;
          padding: 0.8rem 2.5rem;
          display: block;
          color: var(--white-color);
          border-radius: 10rem;
          &.logo {
            padding: 0;
            height: 100%;
            width: auto;
            display: flex;
            align-items: center;
            svg {
              height: 3rem;
              width: auto;
            }
          }
        }
        &.active {
          a {
            background: var(--theme-color);
          }
        }
      }
    }
  }
}
