section.concept-exploration {
  background: var(--light-gray-color);
  padding: var(--py-theme) 0;
  .concept-card {
    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      aspect-ratio: 633 / 432;
      border-radius: 1.5rem;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    h3.title {
      font-size: var(--font-size-32);
      font-weight: 400;
      margin: 2.188rem 0;
    }
    ul {
      gap: 1rem;
      li {
        list-style: none;
        padding: 0.76rem 2rem;
        background: var(--white-color);
        border-radius: 10rem;
      }
    }
  }
}
